---
layout: base
eleventyNavigation:
  key: Home
---

<div class="container">
    <h1>dre05110971</h1>
    <p>Your senses are being transformed into a multidimensional field of colors and motion, called My Art. The motions of the field relate to natural processes of creation and destruction. The field is like a fluid, solid and gas-like structure at the same time. It goes from a noisy formless state to a solid material state and back.</p>
</div>